/* PHASE 1: Header */
body {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header {
  background-color: red;
  display: flex;
  color: white;
  justify-content: space-around;
}

.header-logo {
  font-size: 24;
  font-weight: bolder;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 10px 20px;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  display: flex;
}

.header-list li {
  display: block;
  border-left: 1px solid white;
  padding: 10px 20px;
}

.header-list li:hover {
  background-color: black;
}

.header-list li:last-of-type {
  border-right: 1px solid white;
  padding: 10px 20px;
}