<h2><%= @user.email %>'s page</h2>
<p>Welcome to your profile. This page is still in development, but will eventually include your favorite bands, tracks, albums, etc. Enjoy!</p>
<form action="<%= bands_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="get">
  <input type="submit" name="name" value="My bands">
</form>